<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zczp.dao.TbCollectMapper">
  <resultMap id="BaseResultMap" type="com.zczp.entity.TbCollect">
    <id column="collect_id" jdbcType="INTEGER" property="collectId" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    collect_id, post_id, open_id, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_collect
    where collect_id = #{collectId,jdbcType=INTEGER}
  </select>
  <select id="selectByPostIdAndUserId" resultType="java.lang.Integer">
    select
    state
    from tb_collect
    where post_id = #{postId,jdbcType=INTEGER} and  open_id = #{openId}
  </select>
    <select id="getPostDetailById" parameterType="java.lang.String" resultType="com.zczp.vo_yycoder.CollectPostDetailVo">
        select
        tp.post_id as 'postId',tp.open_id as 'openId',tp.title,tpt.type_name as 'postType',tp.company_name as 'companyName',
        tcp.company_logo as 'companyLogo',tp.job_type as 'jobType',reliability , tcy.city_name as 'cityName',tp.count,
        tp.post_time as 'postTime' ,tp.Internship_time as 'internshipTime',tp.entry_time as 'entryTime',tp.state as 'state'
        from tb_collect tc
        LEFT JOIN tb_post tp on tp.post_id = tc.post_id
        LEFT JOIN tb_company tcp on tp.company_id=tcp.company_id
        LEFT JOIN tb_post_type tpt on tp.type_id =tpt.type_id
        LEFT JOIN tb_city tcy  on tcy.city_id=tp.city_id
        LEFT JOIN tb_user tu on tu.open_id=tc.open_id
        <where>
            <if test="openId !=null">
                and tu.open_id=#{openId,jdbcType=VARCHAR}
            </if>
            and tc.state=1
        </where>
        order by  tp.post_time desc
    </select>
  <update id="deleteCollectionById"  >
    update tb_collect set state=0
    <where>
      <if test="openId!=null">
        and open_id = #{openId,jdbcType=VARCHAR}
      </if>
      <if test="postId!=null">
        and post_id=#{postId,jdbcType=INTEGER}
      </if>
    </where>
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_collect
    where collect_id = #{collectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zczp.entity.TbCollect">
    insert into tb_collect (collect_id, post_id, open_id,
      state)
    values (#{collectId,jdbcType=INTEGER}, #{postId,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR},
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zczp.entity.TbCollect">
    insert into tb_collect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collectId != null">
        collect_id,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collectId != null">
        #{collectId,jdbcType=INTEGER},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zczp.entity.TbCollect">
    update tb_collect
    <set>
      <if test="postId != null">
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where collect_id = #{collectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zczp.entity.TbCollect">
    update tb_collect
    set post_id = #{postId,jdbcType=INTEGER},
      open_id = #{openId,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where collect_id = #{collectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPostIdAndOpenId" parameterType="com.zczp.entity.TbCollect">
    update tb_collect
    set state = #{state,jdbcType=INTEGER}
    where post_id = #{postId,jdbcType=INTEGER} and open_id=#{openId,jdbcType=VARCHAR}
  </update>
</mapper>