<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zczp.dao.TbCommentMapper">
  <resultMap id="BaseResultMap" type="com.zczp.entity.TbComment">
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="from_id" jdbcType="INTEGER" property="fromId" />
    <result column="to_id" jdbcType="INTEGER" property="toId" />
    <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
    <result column="reply_id" jdbcType="INTEGER" property="replyId" />
  </resultMap>
  <sql id="Base_Column_List">
    comment_id, post_id, content, from_id, to_id, comment_time, reply_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <select id="selectAllByPrimaryPostId" parameterType="java.lang.Integer" resultType="com.zczp.vo_cancer.CommentsVo">
    select
    tc.comment_id as commentId , tc.post_id as postId ,tc.content, tc.from_id as fromId,
    tc.comment_time as commentTime ,tc.reply_id as replyId , tu.user_name as userName
    from tb_comment tc
    left join tb_user tu on tc.from_id = tu.user_id
    where tc.post_id = #{postId,jdbcType=INTEGER} and tc.reply_id is null order by tc.comment_time desc
  </select>
  <select id="selectAllByPrimaryReplyId" parameterType="java.lang.Integer" resultType="com.zczp.vo_cancer.CommentsVo">
    select
    tc.comment_id as commentId , tc.post_id as postId ,tc.content, tc.from_id as fromId,
    tc.comment_time as commentTime ,tc.reply_id as replyId , tu.user_name as userName
    from tb_comment tc
    left join tb_user tu on tc.from_id = tu.user_id
    where tc.reply_id = #{replyId,jdbcType=INTEGER} order by tc.comment_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zczp.vo_cancer.CommentVo">
    insert into tb_comment ( post_id, content,
      from_id, to_id, comment_time, 
      reply_id)
    values (#{postId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},
      #{fromId,jdbcType=INTEGER}, #{toId,jdbcType=INTEGER}, #{commentTime,jdbcType=TIMESTAMP},
      #{replyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zczp.entity.TbComment">
    insert into tb_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="fromId != null">
        from_id,
      </if>
      <if test="toId != null">
        to_id,
      </if>
      <if test="commentTime != null">
        comment_time,
      </if>
      <if test="replyId != null">
        reply_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="fromId != null">
        #{fromId,jdbcType=INTEGER},
      </if>
      <if test="toId != null">
        #{toId,jdbcType=INTEGER},
      </if>
      <if test="commentTime != null">
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyId != null">
        #{replyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zczp.entity.TbComment">
    update tb_comment
    <set>
      <if test="postId != null">
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="fromId != null">
        from_id = #{fromId,jdbcType=INTEGER},
      </if>
      <if test="toId != null">
        to_id = #{toId,jdbcType=INTEGER},
      </if>
      <if test="commentTime != null">
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyId != null">
        reply_id = #{replyId,jdbcType=INTEGER},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zczp.entity.TbComment">
    update tb_comment
    set post_id = #{postId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      from_id = #{fromId,jdbcType=INTEGER},
      to_id = #{toId,jdbcType=INTEGER},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      reply_id = #{replyId,jdbcType=INTEGER}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>