<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zczp.dao.TbUserMapper">
    <resultMap id="BaseResultMap" type="com.zczp.entity.TbUser">
        <id column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_phone" jdbcType="BIGINT" property="userPhone"/>
        <result column="user_gender" jdbcType="CHAR" property="userGender"/>
        <result column="user_school" jdbcType="VARCHAR" property="userSchool"/>
        <result column="user_postType" jdbcType="VARCHAR" property="userPosttype"/>
        <result column="user_signature" jdbcType="VARCHAR" property="userSignature"/>
        <result column="user_company" jdbcType="VARCHAR" property="userCompany"/>
        <result column="user_image" jdbcType="VARCHAR" property="userImage"/>
        <result column="language" jdbcType="VARCHAR" property="language"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
    </resultMap>
    <sql id="Base_Column_List">
    open_id, user_name, user_phone, user_gender, user_school, user_postType, user_signature,
    user_company, user_image, language, city, province, country
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where open_id = #{openId,jdbcType=VARCHAR}
    </select>
    <select id="getAllUser" parameterType="java.util.Map" resultType="com.zczp.vo_yycoder.UserDetailVo">
        select open_id as openId, user_image as userImage,user_name as userName,
        user_gender as userGender,user_phone as userPhone, user_school as userSchool,user_company as userCompany,
        user_postType as userPosttype, user_signature as userSignature
        from tb_user
        <if test="start!=null and limit!=null">
                limit #{start},#{limit}
        </if>

    </select>
    <select id="getTotalTags" parameterType="Map" resultType="java.lang.Integer">
        select count(*)  from tb_user
        where user_name=#{userName,jdbcType=VARCHAR}
    </select>
    <select id="getUserByOpenId" parameterType="java.lang.String" resultType="com.zczp.vo_yycoder.UserDetailVo">
        select open_id as openId, user_image as userImage,user_name as userName,
        user_gender as userGender,user_phone as userPhone, user_school as userSchool,user_company as userCompany,
        user_postType as userPosttype, user_signature as userSignature
        from tb_user
        <where>
            <if test="openId != null and openId != ''">
                and open_id = #{openId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="getUserCollection" parameterType="java.lang.String" resultType="java.lang.Integer">
        select post_id from tb_collect where open_id = #{openId,jdbcType=VARCHAR}
    </select>
    <select id="seachUserByName" parameterType="java.lang.String" resultType="com.zczp.vo_yycoder.UserDetailVo">
         select open_id as openId, user_image as userImage,user_name as userName,
        user_gender as userGender,user_phone as userPhone, user_school as userSchool,user_company as userCompany,
        user_postType as userPosttype, user_signature as userSignature
        from tb_user where user_name=#{userName,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_user
    where open_id = #{openId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.zczp.entity.TbUser">
    insert into tb_user (open_id, user_name, user_phone,
      user_gender, user_school, user_postType,
      user_signature, user_company, user_image,
      language, city, province,
      country)
    values (#{openId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=BIGINT},
      #{userGender,jdbcType=CHAR}, #{userSchool,jdbcType=VARCHAR}, #{userPosttype,jdbcType=VARCHAR},
      #{userSignature,jdbcType=VARCHAR}, #{userCompany,jdbcType=VARCHAR}, #{userImage,jdbcType=VARCHAR},
      #{language,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
      #{country,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.zczp.entity.TbUser">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openId != null">
                open_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="userPassword != null">
                user_password,
            </if>
            <if test="userGender != null">
                user_gender,
            </if>
            <if test="userSchool != null">
                user_school,
            </if>
            <if test="userPosttype != null">
                user_postType,
            </if>
            <if test="userSignature != null">
                user_signature,
            </if>
            <if test="userCompany != null">
                user_company,
            </if>
            <if test="userImage != null">
                user_image,
            </if>
            <if test="language != null">
                language,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="country != null">
                country,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=BIGINT},
            </if>
            <if test="userGender != null">
                #{userGender,jdbcType=CHAR},
            </if>
            <if test="userSchool != null">
                #{userSchool,jdbcType=VARCHAR},
            </if>
            <if test="userPosttype != null">
                #{userPosttype,jdbcType=VARCHAR},
            </if>
            <if test="userSignature != null">
                #{userSignature,jdbcType=VARCHAR},
            </if>
            <if test="userCompany != null">
                #{userCompany,jdbcType=VARCHAR},
            </if>
            <if test="userImage != null">
                #{userImage,jdbcType=VARCHAR},
            </if>
            <if test="language != null">
                #{language,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zczp.entity.TbUser">
        update tb_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone,jdbcType=BIGINT},
            </if>
            <if test="userGender != null">
                user_gender = #{userGender,jdbcType=CHAR},
            </if>
            <if test="userSchool != null">
                user_school = #{userSchool,jdbcType=VARCHAR},
            </if>
            <if test="userPosttype != null">
                user_postType = #{userPosttype,jdbcType=VARCHAR},
            </if>
            <if test="userSignature != null">
                user_signature = #{userSignature,jdbcType=VARCHAR},
            </if>
            <if test="userCompany != null">
                user_company = #{userCompany,jdbcType=VARCHAR},
            </if>
            <if test="userImage != null">
                user_image = #{userImage,jdbcType=VARCHAR},
            </if>
            <if test="language != null">
                language = #{language,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
        </set>
        where open_id = #{openId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zczp.entity.TbUser">
    update tb_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=BIGINT},
      user_gender = #{userGender,jdbcType=CHAR},
      user_school = #{userSchool,jdbcType=VARCHAR},
      user_postType = #{userPosttype,jdbcType=VARCHAR},
      user_signature = #{userSignature,jdbcType=VARCHAR},
      user_company = #{userCompany,jdbcType=VARCHAR},
      user_image = #{userImage,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR}
    where open_id = #{openId,jdbcType=VARCHAR}
  </update>
    <update id="updateUserInfoById" parameterType="com.zczp.vo_yycoder.UserDetailVo">
        update tb_user
        <set>
            <if test="userImage != null">
                user_image = #{userImage,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userGender != null">
                user_gender = #{userGender,jdbcType=CHAR},
            </if>
            <if test="userSchool != null">
                user_school = #{userSchool,jdbcType=VARCHAR},
            </if>
            <if test="userCompany != null">
                user_company = #{userCompany,jdbcType=VARCHAR},
            </if>
            <if test="userPosttype != null">
                user_postType = #{userPosttype,jdbcType=VARCHAR},
            </if>
            <if test="userSignature != null">
                user_signature = #{userSignature,jdbcType=VARCHAR},
            </if>
        </set>
        where open_id = #{openId,jdbcType=VARCHAR}
    </update>

</mapper>